body {
    margin: 0;
    background-color: #ccc;
}

.main-game {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.genius {
    display: grid;
    grid-template-areas: 'verde vermelho'
    'amarelo azul';
    grid-gap: 10px;
    border: 1px solid #000;
    background-color: #000;
    border-radius: 100%;
    width: 600px;
    height: 600px;
}

.blue {
    grid-area: azul;
    background-color: blue;
    border-bottom-right-radius: 100%;
}

.red {
    grid-area: vermelho;
    background-color: #ff0000;
    border-top-right-radius: 100%;
}

.yellow {
    grid-area: amarelo;
    background-color: yellow;
    border-bottom-left-radius: 100%;
}

.green {
    grid-area: verde;
    background-color: #32cd32;
    border-top-left-radius: 100%;
}

.selected {
    opacity: 0.6;
}

.footer {
    font-weight: bold;
    justify-content: space-around;
}